<script type="text/javascript" src="/lib/jquery/jquery-1.10.2.min.js"></script> 
<script type="text/javascript" src="/lib/jquery/jquery.form.js"></script> 
<script type="text/javascript" src="/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="/static/js/base.js"></script> 
<script type="text/javascript" src="/static/js/admin.js"></script> 
<script type="text/javascript" src="/lib/printArea/jquery.PrintArea.js"></script> 
<footer class="footer mt-20">
	<div class="container">
		<p>Copyright &copy;2016 湘潭市住房公积金管理中心 All Rights Reserved.</p>
	</div>
</footer>