<extend name="Public/body"/>
<block name="title">异地贷款证明</block>
<block name="nav">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 打印证明 <span class="c-gray en">&gt;</span> 异地贷款证明 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav></block>
<block name="page">
<div id="printDoc" name="printDoc">
<div class="page-container">
	<p class="f-20 text-c">湘潭市住房公积金管理中心异地贷款证明（网络打印版）</p>		
	<table class="table table-border table-bordered table-bg">
			<thead>
				<tr>
				<th class="c-primary" align="right">异地贷款证明&nbsp;&nbsp;&nbsp;查询时间：<{$queryDate}></th>
				</tr>				
			</thead>
			<tbody>
				<tr height=300>			  
					<td >
						<div class="proof"><font color='red'>&nbsp;&nbsp;由于您当前在我中心存在购房贷款记录，无法出具此证明。</font>（请另行打印其他相关贷款证明）</div>
						<br/><br/><br/><br/>
						<div align="right">湘潭市住房公积金管理中心<br /><{$queryDate}></div>					
					</td>
				</tr> 
			</tbody>
		</table>	
</div>
</div></block>