<extend name="Public/body"/>
<block name="title">公积金贷款详情</block>
<block name="nav">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 公积金贷款 <span class="c-gray en">&gt;</span> 还贷明细 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav></block>
<block name="page">
<div class="page-container">
<p class="f-20 text-success">公积金贷款还款明细</p>		
	
	<div class="mt-20">
	<table class="table table-border table-bordered table-bg table-hover ">
			<thead>    	
				<tr >
					<th>不存在贷款信息 </th>
				</tr>
			</thead>
			<tbody>
			<tr height=300>			  
					<td >
						<div class="proof"><font color='red'>&nbsp;&nbsp;由于您当前在我中心不存在购房贷款记录，无法查询此信息。</font></div>
										
					</td>
				</tr> 
			</tbody>
		</table>
		
	</div>
</div></block>