<extend name="Public/body"/>
<block name="title">个人还贷证明</block>
<block name="nav">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 打印证明 <span class="c-gray en">&gt;</span> 个人还贷证明 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav></block>
<block name="page">
<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l" id="print"><a href="javascript:;"  class="btn btn-danger radius"><i class="Hui-iconfont">&#xe652;</i> 打印证明</a> </span>  </div>
<div id="printDoc" name="printDoc">
	<div class="page-container">
		<p class="f-20 text-c">湘潭市住房公积金管理中心个人还贷证明（网络打印版）</p>	
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<img src="<{:U('Public/qrcode')}>?token=<{$token}>"/>说明：扫描左侧二维码，或登录<a href='<{:C('LINKURL')}>/valid.html'><{:C('LINKURL')}>/valid.html</a>查验此证明真伪。
		</div>	
		<table class="table table-border table-bordered table-bg" id="baseInfo">
			<thead>
				<tr>
					<th class="c-primary" colspan="8" align="right">证明编号：<{$token}>&nbsp;&nbsp;&nbsp;&nbsp;查询时间：<{$queryDate}></th>
				</tr>
				<tr>
					<th class="c-primary" colspan="8" align="right">合同编号<u><{$htbh}></u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 单位：元&nbsp;&nbsp;&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="c-primary tips"  width="8%" align="right">贷款人姓名</th>
					<td width="15%" ><{$spname}></td>				
					<th width="7%" class="c-primary tips"  align="right">身份证号</th>
					<td  width="15%"><{$spidno}>&nbsp;</td>
					<th width="8%" class="c-primary tips"  align="right">共同贷款人</th>
					<td width="15%" ><volist name="commloan" id="vo">&nbsp;<{$vo.spname}><br/></volist></td>
					<th width="7%" class="c-primary tips" align="right">身份证号</th>
					<td width="15%"><volist name="commloan" id="vo">&nbsp;<{$vo.spidno}><br/></volist></td>
				</tr>
				 <tr>
				   <th class="c-primary tips">还款账号</th>
				   <td >&nbsp;<{$hkzh}></td>	    	   
				   <th  class="c-primary tips">单位名称</th>
				   <td >&nbsp;<{$snname}></td>
				   <th  class="c-primary tips"  align="right">借款金额</th>
					<td>&nbsp;<{$jkje}></td>
					<th  class="c-primary tips"  align="right">期限</th>
					<td>&nbsp;<{$jkqx}>月</td>
				</tr>
				
				
				<tr>
					<th  class="c-primary tips"  align="right">月利率</th>
					<td>&nbsp;<{$jkyll}></td>
					<th  class="c-primary tips"  align="right">月还款额</th>
					<td>&nbsp;<{$yhje}></td>
					<th  class="c-primary tips"  align="right">已还年月</th>
					<td>&nbsp;<{$yhym}></td>
					<th  class="c-primary tips"  align="right">还款方式</th>
					<td>&nbsp;<{$hkfs}></td>
				</tr>
				<tr>
					<th  class="c-primary tips"  align="right">放贷日期</th>
					<td>&nbsp;<{$fdrq}></td>
					<th  class="c-primary tips"  align="right">结束年月</th>
					<td>&nbsp;<{$jsrq}></td>
					<th  class="c-primary tips"  align="right">本金余额</th>
					<td>&nbsp;<{$bjye}></td>
					<th  class="c-primary tips"  align="right">逾期金额</th>
					<td>&nbsp;<{$yqbj}></td>
				</tr>
				
				<tr>
					<th  class="c-primary tips"  align="right">逾期月数</th>
					<td>&nbsp;</td>
					<th  class="c-primary tips"  align="right">扣款账号</th>
					<td>&nbsp;<{$xykh}></td>
					<th  class="c-primary tips"  align="right">代扣银行</th>
					<td>&nbsp;<{$orgname}></td>
					<td  class="c-primary tips"  colspan="2" align="right">&nbsp;</td>
				</tr>
				<tr>
					
				</tr>
				<tr>
					<th  class="c-primary tips"  align="right">购房地址</th>
					<td colspan="7">&nbsp;<{$xxdz}></td>
				</tr>
			</tbody>
		</table>
		<div style="width:50px; height:50px; position:absolute; top:350px; left:500px;"><img src="/Public/Static/images/zhang.png" width="120px"/></div>
	</div>
	<div class="page-container">	
		<div>
			<table class="table table-border table-bordered table-bg table-sort">
				<thead>  
					<tr>
					<th class="c-primary" colspan="14" align="right">证明编号：<{$token}>&nbsp;&nbsp;&nbsp;&nbsp;查询时间：<{$queryDate}></th>
				</tr>
				<tr>
					<th class="c-primary" colspan="14" align="right">合同编号<u><{$htbh}></u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 单位：元&nbsp;&nbsp;&nbsp;</th>
				</tr>
					<tr >
						<th>还款日期</th>
						<th>对应年月</th>
						<th >还款类型</th>                	
						<th >进账金额</th>                
						<th >还款本金</th>
						<th>还款利息</th>
						<th>还款罚息</th>
						<th>归还欠本</th>
						<th>归还欠息</th>
						<th >本次欠本 </th>
						<th >本次欠息 </th>
						<th >贷款余额 </th>
						<th >欠本余额 </th>
						<th >欠息余额 </th>
					</tr>
				</thead>
				<tbody>
				<volist name="loandetail" id="vo2">
					<tr >
						<td>&nbsp;
						<div align="center"><{$vo2.hkrq}></div></td>
						<td > &nbsp;
						<div align="center"><{$vo2.hkym}></div></td>
						<td>&nbsp;
						<div align="center"><{$vo2.hklx}></div></td>
						<td >&nbsp;
						<div align="right"><{$vo2.jzje|number_format=2}></div></td>                
						<td >&nbsp;
						<div align="right"><{$vo2.yhbj|number_format=2}></div></td>
						<td>&nbsp;
						<div align="right"><{$vo2.yhlx|number_format=2}></div></td>
						<td>&nbsp;
						<div align="right"><{$vo2.fx|number_format=2}></div></td>
						<td>&nbsp;
						<div align="right"><{$vo2.ghyqbj|number_format=2}></div></td>
						<td>&nbsp;
						<div align="right"><{$vo2.ghyqlx|number_format=2}></div></td>
						<td >&nbsp;
						<div align="right"><{$vo2.yqbj|number_format=2}> </div></td>
						<td >&nbsp;
						<div align="right"><{$vo2.yqlx|number_format=2}> </div></td>
						<td >&nbsp;
						<div align="right"><{$vo2.bjye|number_format=2}> </div></td>
						<td >&nbsp;
						<div align="right"><{$vo2.ljyqbj|number_format=2}> </div></td>
						<td >&nbsp;
						<div align="right"><{$vo2.ljyqlx|number_format=2}> </div></td>
					</tr>
				</volist>	  
				</tbody>
			</table>		
		</div>
	</div>
</div></block>
<block name="script">
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 0, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":true,"aTargets":[0,13]}// 制定列不参与排序
	]
});
$(document).ready(function () {		
        $("#print").click(function () {				
            var options = {
                url: '<{:U('Qfund/saveProof')}>',
                type: 'post',
                dataType: 'text',
                data: {proofType:"公积金贷款",proofCode:"<{$token}>"}
            };
            $.ajax(options);
			$("#printDoc").printArea();
            return false;
        });
    });		
</script></block>