<extend name="Public/body"/>
<block name="title">
公积金缴存账户信息</block>
<block name="nav">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 公积金缴存 <span class="c-gray en">&gt;</span> 账户信息 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"> <i class="Hui-iconfont">&#xe68f;</i></a></nav></block>
<block name="page">
<div class="page-container">
<p class="f-20 text-success">公积金缴存明细</p>	
	
	<div class="cl pd-5 bg-1 bk-gray mt-20">  <span class="r">共有数据：<strong><{$totalCount}></strong> 条</span> </div>
<div class="mt-20">
			<table  class="table table-border table-bordered table-bg table-sort" id="detail">
				<thead>
					<tr class="text-c">
						<th>记账日期</th>
						<th>汇缴年月</th>
						<th>处理类型</th>
						<th >收入</th>
						<th>利息</th>
						<th>支出</th>
						<th>余额</th>
					</tr>
				</thead>
				<tbody>
				<volist name="detail" id="vo2">
					<tr>
					<td ><{$vo2.qrrq}>&nbsp;</td>
					<td><{$vo2.hjny}>&nbsp;</td>
					<td><{$vo2.cllx}>&nbsp;</td>
					<td><{$vo2.sr|number_format=2}>&nbsp;</td>
					<td ><{$vo2.lx|number_format=2}>&nbsp;</td>
					<td><{$vo2.zc|number_format=2}>&nbsp;</td>
					<td><{$vo2.ye|number_format=2}>&nbsp;</td>
					</tr>
				</volist>					
				</tbody>		
			</table>
		</div>
</div></block>
<block name="script">
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":true,"aTargets":[1,6]}// 制定列不参与排序
	]
});
</script></block>